{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- jQuery added here to avoid "Uncaught Error: Bootstrap's JavaScript requires jQuery" -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@300;700&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/b1eb41e9a4.js" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">

    <title>Jarvis-Lee</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <!-- <div class="container"> -->
        <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <a class="navbar-brand" href="{% url 'learn:index' %}">Jarvis-Lee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'learn:index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Subjects
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                            {% for subject in subject_list %}
                            <a href="#" class="dropdown-item">{{subject.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learn:tests' %}">Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learn:notes' %}">Notes</a>
                </li>
            </ul>
            <form class="form-inline" style="padding: 0px 10px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Username">
                </div>
            </form>
        </div>
    </nav>
    <div style="min-height: 480px;">
        {% block landing %}
        {% endblock %}

        {% block subjects %}
        {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer text-center py-3">
        <div class="container">
            <hr>
            <i class="fa fa-code"></i> with
            <i class="far fa-heart"></i> by
            <a href="https://github.com/Tim-is-Weird" target="_blank">
                <i class="fab fa-github" data-toggle="tooltip" data-placement="top" title="Timothy Wangwe"
                    style="color: azure; text-decoration: underline;"></i>
            </a> and
            <a href="https://github.com/ChrisAchinga" target="_blank">
                <i class="fab fa-github-alt" data-toggle="tooltip" data-placement="top" title="Chris Achinga"
                    style="color: azure; text-decoration: underline;"></i>
            </a>
        </div>
        <span class="font-weight-light float-left"> Copyright &copy; 2020 </span>
        <span class="font-weight-light float-right"> All Rights Reserved </span>
    </footer>
    <!-- Optional JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script>
        //Dropdown on hover
        $(document).ready(function () {
            $(".dropdown, .btn-group").hover(function () {
                var dropdownMenu = $(this).children(".dropdown-menu");
                if (dropdownMenu.is(":visible")) {
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });
        // Tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>

</html>