{% extends 'learn/generic_base.html' %}
{% load static %}


{% block landing %}
<div class="row">
    <div class="col-sm-6">
        <img src="{% static 'img/students-on-computer.jpg' %}" alt="" srcset="" class="rounded img-fluid">
        <div class="photo-credit text-center">Photo by
            <a href="https://pixabay.com" target="_blank" class="custom-link">Ernesto Eslava </a> on
            <a href="https://pixabay.com" target="_blank" class="custom-link">Pixabay </a>
        </div>
    </div>
    <div class="col-sm-6">
        <h1><b>If you can learn, <br> you can do anything! </b></h1>
        <hr class="custom">
        <p>
            Well, grab this free opportunity we have offered you to learn and grow. Be the best you can be.
        </p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <br>
                <i class="fas fa-chalkboard-teacher"></i>
                <p>
                    Contribute to the content offered on this platform.
                </p>
                <a href="/admin/" target="_blank"> <button class="btn btn-outline"> Teach </button> </a>
            </div>
            <div class="col-sm-4">
                <br>
                <i class="fas fa-user-graduate"></i>
                <p>
                    Explore a rich collection of studying materials of your liking.
                </p>
                <a href="{% url 'learn:notes' %}"> <button class="btn btn-outline"> Learn</button> </a>
            </div>
            <div class="col-sm-4">
                <br>
                <i class="fas fa-vials"></i>
                <p>
                    How much do you know and how well do you know it? Test yourself against standard questions!
                </p>
                <a href="{% url 'learn:exams' %}"> <button class="btn btn-outline"> Evaluate </button> </a>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}