{% extends 'learn/base.html' %}
{% load static %}

{% block subjects %}
<div class="row">
    <ul class="nav list-group flex-column">
        <li class="nav-item list-group-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item list-group-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item list-group-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item list-group-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item list-group-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item list-group-item">
            <a class="nav-link" href="#">Link</a>
        </li>
</div>
{% endblock %}