{% extends 'learn/base.html' %}
{% load static %}

{% block subjects %}
<div class="row">
    <div class="col-sm-2">
        <div class="sticky-top">
            <ul class="nav flex-column list-group">
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ipsam molestiae ullam consequuntur,
            numquam quod aliquam, quas, assumenda itaque harum pariatur. Officia nemo molestiae, vel optio quo iusto rem
            harum iure cum quam ullam eaque ut debitis. Quasi, quas. Amet unde officia vero! Omnis corrupti ipsa
            praesentium, odio numquam ipsam illum dolorem quasi maxime facere maiores est eaque unde earum saepe error?
            Laborum unde amet voluptatem doloribus nisi molestiae earum officia accusamus, quos, in eum error maiores
            nesciunt. Commodi sapiente molestiae ab, totam doloribus corporis atque iusto iure quam nisi error
            perspiciatis repellat temporibus esse non? Ab facilis quibusdam voluptate sit. Officiis ipsam placeat
            doloremque officia asperiores dolorum ad enim sit eaque architecto adipisci ipsa reprehenderit magni ullam
            laborum consequatur animi eos hic, fugiat amet quidem. Maiores non sapiente velit quod eum omnis sint,
            repudiandae ratione possimus doloremque placeat vero alias unde, dolores est. Ipsum non fuga distinctio
            laudantium ducimus et deserunt expedita repellendus! Quam alias quas est quisquam sequi, officiis harum
            fugiat animi accusantium iusto, mollitia perspiciatis itaque. Deserunt inventore dolores quia, laudantium
            perspiciatis debitis aliquid eaque vero sunt incidunt aliquam quod, dolor eius ducimus perferendis cum,
            adipisci iste! Ut placeat temporibus qui saepe accusantium nam distinctio error excepturi.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, provident doloremque consequuntur eum
            impedit nostrum placeat. Quis eveniet magnam eum tempora dolorum facilis inventore nemo aperiam natus optio
            quam, laborum temporibus eaque quisquam deleniti atque voluptas, alias suscipit incidunt! Possimus vel
            maiores quisquam, exercitationem qui repellendus animi rem nisi incidunt totam neque blanditiis dolorem,
            vitae autem alias reprehenderit laboriosam aliquid laudantium ducimus! Sint impedit blanditiis, fuga qui
            neque at atque suscipit sunt deserunt consequuntur libero! Ipsam eveniet corrupti molestias nobis, id esse
            praesentium minima illum ipsa quam! Nisi magni quam provident dolores amet quos, in tempore velit natus
            accusamus id aspernatur sed. Culpa necessitatibus fuga corrupti voluptate hic similique explicabo earum quae
            incidunt itaque provident magnam nihil, consequuntur dignissimos quis alias recusandae reiciendis fugiat vel
            dolorum iure! Quia id laboriosam nobis a ipsa magnam minus, dolores impedit corporis quibusdam distinctio
            sed rem. Repudiandae ut ab provident veritatis deleniti quidem quibusdam sed distinctio, aspernatur
            perspiciatis, quo quae amet voluptas doloremque perferendis, obcaecati inventore sequi optio aperiam nam
            accusantium saepe nisi beatae omnis! Doloremque consectetur labore sapiente eaque deleniti recusandae, nemo
            adipisci, dolore alias harum corrupti fuga rem maiores ipsam reprehenderit dolores optio quod, atque odit
            commodi culpa. Fugit aut labore voluptatem, iusto sequi totam, eligendi, soluta fuga atque praesentium at
            assumenda suscipit aliquid alias? Exercitationem vero ad harum asperiores officiis voluptatum, iusto
            molestias alias, consectetur obcaecati quibusdam libero quasi, natus consequatur labore itaque placeat omnis
            excepturi quisquam ab iste perferendis! Ratione, unde animi natus ab, consequatur, quasi amet odio voluptas
            debitis obcaecati ullam enim minus rem? Quibusdam deleniti, excepturi recusandae doloremque aut asperiores.
            Tenetur facere iusto natus harum dolore porro quos, alias ducimus quam veritatis dolorum rerum enim,
            possimus iure iste eius sed, amet rem excepturi tempora. Deserunt nam, voluptas rerum culpa, officia earum
            blanditiis cupiditate sunt commodi, ab laboriosam. Fuga incidunt illum voluptatibus. Omnis doloribus
            dignissimos ex, possimus, voluptate porro, recusandae molestiae voluptas maxime cum culpa accusantium ut
            quas deserunt sed unde? Ipsum, repudiandae aliquam harum eligendi, quasi ad vel delectus numquam cupiditate
            aperiam velit reprehenderit autem molestias ipsam necessitatibus eveniet laudantium enim magni qui! Non sint
            quasi reiciendis? Expedita quos asperiores deleniti molestias ipsum excepturi debitis animi numquam at
            nesciunt sit eveniet fugiat voluptate ullam laborum, ad rem dolor! Fugiat ipsam reiciendis deserunt
            dignissimos dolorum totam, libero illo minima repellat eligendi quibusdam earum porro sapiente hic
            perspiciatis? Similique nesciunt animi quisquam corrupti culpa modi exercitationem, quod ex? A, tempora.
        </p>
    </div>
</div>

{% endblock %}