{% extends 'learn/generic_base.html' %}
{% load static %}

{% block subjects %}
<div class="row">
    {% for subject in subject_list %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-footer">
                <b>
                    {{ subject.name }}
                    Exams
                </b>
            </div>
            <div class="underlay">
                <div class="photo-credit text-center">Photo by
                    <a href="https://pixabay.com" target="_blank" class="custom-link" style="color: #1ABC9C;">Ernesto Eslava </a> on
                    <a href="https://pixabay.com" target="_blank" class="custom-link" style="color: #1ABC9C;">Pixabay </a>
                </div>
                <img src="{% static 'img/students-on-computer.jpg' %}" alt="" class="rounded img-fluid img-hover">
                <div class="overlay">
                    <div class="text">
                        <a href="http://127.0.0.1:8000/{{subject.name.lower}}/exams/{{subject.id}}/"> <button class="btn btn-outline"> Click Me! </button> </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}