/* 
===================================================================
------------------------BASE TEMPLATE------------------------------
=================================================================== 
*/
body {
    color: #ffffff !important;
    background-color: #34495E !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 100px 10px 0px 20px;
    position: relative !important;
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
}

a.custom-link {
    text-decoration: underline !important;
    color: #ffffff;
}
a.custom-link:hover {
    color: #1ABC9C;
}

hr.custom {
    border: 1px solid #ffffff !important;
}


.photo-credit {
    font-size: small;
    position: absolute;
    top: 95%;
    left: 5%;
    float: right;
}


.fas {
    color: #1ABC9C !important;
    font-size: xx-large;
}

::selection {
    color: #ffffff;
    background-color: rgba(26, 188, 156, 0.75);
}

.btn {
    color: #ffffff !important;
}

.btn-outline {
    border: 1.4px solid #ffffff !important;
}

.btn-outline:hover {
    color: #34495E !important;
    background-color: #ffffff;
}

.custom-btn{
    color: #34495E !important;
    border: 1.4px solid #34495E !important;

}

.custom-btn:hover {
    color: #ffffff !important;
    background-color: #34495E;
}
.form-control:focus {
    border-color: #34495E !important;
    box-shadow: 0 0 0 0.2rem rgba(52, 73, 94, 0.375) !important;
}

.card {
    color: #000000 !important;
}

/* Navigation Bar */
nav {
    padding: 0px !important;
}

.navbar {
    background-color: #1ABC9C !important;
}

.navbar-brand {
    font-size: 32px !important;
    font-family: 'Black Ops One', cursive !important;
    color: #34495E !important;
    padding-left: 5px !important;
    padding-top: 30px !important;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #ffffff !important;
}

.navbar,
.btn {
    text-transform: uppercase !important;
}

.nav-item:hover {
    background-color: #34495E;
    border-radius: 5px;
}

.dropdown a.btn {
    color: #000000 !important;
}

.dropdown-item:hover,
.dropdown a.btn:hover {
    background-color: #34495E !important;
    color: #ffffff !important;

}

/* Dropdown on hover */
.dropdown:hover .dropdown-menu,
.btn-group:hover .dropdown-menu {
    display: block;
}


/* Footer */
.footer {
    font-size: small;
}

/* MOBILE RESPOSITIVITY */

@media only screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .collapse .navbar-nav .nav-item {
        text-align: center;
    }
    .photo-credit {
        position: sticky;
        top: 95%;
        left: 5%;
        float: right;
    }
    a.custom-link {
        text-decoration: underline !important;
    }
    div#quest_card{
        padding: 0px !important;
    }
}

/* 
===================================================================
------------------------INDEX PAGE------------------------------
=================================================================== 
*/
/* img.img-hover:hover {
    opacity: 0.8;
    transform: scale(1.0125);
} */

.overlay {
    opacity: 0;
}

.card:hover .overlay {
    opacity: 1;
}

.text {
    color: #1ABC9C !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 
===================================================================
------------------------TESTS TEMPLATE-----------------------------
=================================================================== 
*/

div#quest_card{
    padding: 0px 300px 20px 300px;
}

/* Radio Choice */

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #34495E;
  color: #FFF;
}

.list-group-item{
    border-radius: 5px;
}
.list-group-item:hover{
    border-color: #34495E;
}

